.card{
  width: 456px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#card-image{
  width: 456px;
  height: 304px;
  background-size: cover;
}

.facts{
  padding: 24px;
  width: 100%;
  text-align: justify;
}

.fact-title{
  font-weight: bold;
}

.city-fact{
  font-weight: lighter;
}

.wiki{
  color: #E8E6E6;
  font-family: 'Jomhuria';
  background-color: #333333;
  padding: 10px;
}
